flows.json
[
    {
        "id": "c953b9a4599ce99d",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "03f6c0916f6aed6a",
        "type": "ui_button",
        "z": "c953b9a4599ce99d",
        "name": "",
        "group": "ab9143fe77d2661b",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Manual",
        "tooltip": "",
        "color": "",
        "bgcolor": "Black",
        "className": "",
        "icon": "",
        "payload": "Irrigation system is in manual mode.",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 140,
        "y": 260,
        "wires": [
            [
                "3be5eb3d6f41ba2b",
                "587a0717010ae8f8"
            ]
        ]
    },
    {
        "id": "3be5eb3d6f41ba2b",
        "type": "ui_toast",
        "z": "c953b9a4599ce99d",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 410,
        "y": 260,
        "wires": []
    },
    {
        "id": "639fc8fd334cb8cd",
        "type": "ui_switch",
        "z": "c953b9a4599ce99d",
        "name": "",
        "label": "Irrigation",
        "tooltip": "",
        "group": "ab9143fe77d2661b",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 180,
        "y": 380,
        "wires": [
            [
                "f5b70a92cfa51fc0"
            ]
        ]
    },
    {
        "id": "5b15213411f9f900",
        "type": "ui_numeric",
        "z": "c953b9a4599ce99d",
        "name": "",
        "label": "Critical Moisture Level (%)",
        "tooltip": "Set the moisture level which triggers irrigation.",
        "group": "b1413aa50d3add59",
        "order": 0,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "step": "5",
        "className": "",
        "x": 170,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "7781377632cee915",
        "type": "ui_button",
        "z": "c953b9a4599ce99d",
        "name": "",
        "group": "ab9143fe77d2661b",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Autonomous",
        "tooltip": "",
        "color": "",
        "bgcolor": "Black",
        "className": "",
        "icon": "",
        "payload": "Irrigation system is in autonomous mode.",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 200,
        "wires": [
            [
                "1068c0e25cf90239",
                "587a0717010ae8f8"
            ]
        ]
    },
    {
        "id": "1068c0e25cf90239",
        "type": "ui_toast",
        "z": "c953b9a4599ce99d",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 370,
        "y": 200,
        "wires": []
    },
    {
        "id": "ba85fd74c367828b",
        "type": "ui_chart",
        "z": "c953b9a4599ce99d",
        "name": "",
        "group": "eeeac7e82a7de1bc",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Average Soil Moisture",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "step",
        "nodata": "Waiting for soil moisture data.",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "7",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 200,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "ccfce81199321516",
        "type": "ui_gauge",
        "z": "c953b9a4599ce99d",
        "name": "",
        "group": "eeeac7e82a7de1bc",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Current Soil Moisture",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#b32d00",
            "#e6e600",
            "#3acb65"
        ],
        "seg1": "20",
        "seg2": "50",
        "diff": false,
        "className": "",
        "x": 260,
        "y": 580,
        "wires": []
    },
    {
        "id": "f5b70a92cfa51fc0",
        "type": "ui_text",
        "z": "c953b9a4599ce99d",
        "group": "ab9143fe77d2661b",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Irrigation:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": 16,
        "color": "#062c6a",
        "x": 360,
        "y": 340,
        "wires": []
    },
    {
        "id": "587a0717010ae8f8",
        "type": "ui_text",
        "z": "c953b9a4599ce99d",
        "group": "ab9143fe77d2661b",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 350,
        "y": 140,
        "wires": []
    },
    {
        "id": "df7fff69b91da4bc",
        "type": "ui_spacer",
        "z": "c953b9a4599ce99d",
        "name": "spacer",
        "group": "ab9143fe77d2661b",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "ab9143fe77d2661b",
        "type": "ui_group",
        "name": "Mode",
        "tab": "51d1b3366fa23999",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "b1413aa50d3add59",
        "type": "ui_group",
        "name": "Irrigation Thresholds",
        "tab": "51d1b3366fa23999",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": true,
        "className": ""
    },
    {
        "id": "eeeac7e82a7de1bc",
        "type": "ui_group",
        "name": "Greenhouse Soil Moisture",
        "tab": "c8a5efbc78365c71",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "51d1b3366fa23999",
        "type": "ui_tab",
        "name": "Control Panel",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c8a5efbc78365c71",
        "type": "ui_tab",
        "name": "Data Monitoring",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]